<div
  ...attributes
>
  <div class='h-full p-2 flex flex-row items-center'>
    <img src='/dist/hub-logo.svg' class='h-full w-auto' alt='hub icon'/>
    <div class='flex-1'/>
    {{#if this.blockService.editing}}
      <Button
        @icon="fas fa-check"
        @type="transparent"
        {{on 'click' this.save}}
      />
      <Button
        @icon="fas fa-times-circle"
        @type="transparent"
        {{on 'click' this.cancel}}
      />
    {{else}}
      <Button
        @icon="fas fa-edit"
        @type="transparent"
        {{on 'click' this.edit}}
      />
    {{/if}}
    <ThemeToggle />
  </div>
</div>