@charset "utf-8";

@import "../node_modules/bulma/bulma";

$spacing: 0.5rem;

body, html {
  background-color: $white-ter;
}

.overflow--hidden {
  overflow:hidden;
}

.icons {
  height: $navbar-height;
}

.column--parent {
  padding-left: $spacing;
}

.column--content {
  height: calc(100vh - #{$navbar-height} - #{$navbar-padding-vertical} - #{$spacing});
  padding-top: $spacing;
  padding-right: $spacing;
}

.tile--parent {
  margin-bottom:$spacing;
}

.tile--content {
  padding: $spacing;
}

.live {
  color: $red;
}

.upvotes {
  color: $green;
}

.dark {
  color: $dark;
}

.rounded {
  -webkit-border-radius: $radius-large;
  -moz-border-radius: $radius-large;
  border-radius: $radius-large;
}

.center--text {
  align-items: center
}