@charset "utf-8";

@font-face {
  font-family: 'VT323', monospace;
  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
}

body, html {
  background-color: #122733;
  color: #849496;
  font-size: 20px;
  font-family: 'VT323';
}
