.box-default {
  background-color: var(--h-box-bg-default);
  color: var(--h-box-txt-default);
}

.box-info {
  background-color: var(--h-box-bg-info);
  color: var(--h-box-txt-info);
}

.box-media {
  background-color: var(--h-box-bg-media);
}

.box-media:hover {
  background-color: var(--h-box-bg-hover-media);
  transition: 0.1s ease-in-out;
}

.box-media--content {
  color: var(--h-box-txt-media);
}

.box-media--content:hover {
  color: var(--h-box-txt-hover-media);
  transition: 0.1s ease-in-out;
}

.box-media--image {
  background-color: var(--h-box-bg-media-image);
  width: 75px;
  height: 75px;
}

.box-media--image img {
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.box-media--image img:hover {
  opacity: 0.5;
  transition: 0.1s ease-in-out;
}
