.toggle-bg {
  background-color: var(--h-content-bg);
}

.toggle-dot {
  background-color: var(--h-header-bg);
}

.toggle-dot--svg {
  color: var(--h-content-bg);
}

input:checked ~ .toggle-dot {
  transform: translateX(100%);
}
