.toggle-bg {
  background-color: var(--h-content-background);
}

.toggle-dot, .toggle-dot--svg {
  background-color: var(--h-header-background);
}

input:checked ~ .toggle-dot {
  transform: translateX(100%);
}
