:root {
  /* Font */
  --h-font-family: '';

  /* Header */
  --h-header-background: #000000;
  --h-header-text: #000000;

  /* Content */
  --h-content-background: #000000;
  --h-content-text: #000000;

  /* Button Default */
  --h-btn-bg-default: #000000;
  --h-btn-txt-default: #000000;
  --h-btn-bg-hover-default: #000000;
  --h-btn-txt-hover-default: #000000;
  /* Button Ghost */
  --h-btn-bg-ghost: #000000;
  --h-btn-txt-ghost: #000000;
  --h-btn-bg-hover-ghost: #000000;
  --h-btn-txt-hover-ghost: #000000;
  /* Button Transparent */
  --h-btn-bg-transparent: #000000;
  --h-btn-txt-transparent: #000000;
  --h-btn-bg-hover-transparent: #000000;
  --h-btn-txt-hover-transparent: #000000;
  /* Button Danger */
  --h-btn-bg-danger: #000000;
  --h-btn-txt-danger: #000000;
  --h-btn-bg-hover-danger: #000000;
  --h-btn-txt-hover-danger: #000000;

  /* Input */
  --h-input-bg: #000000;
  --h-input-bd: #000000;
  --h-input-txt: #000000;

  /* Boxes */
  --h-box-bg-default: #000000;
  --h-box-txt-default: #000000;
  --h-box-bg-info: #000000;
  --h-box-txt-info: #000000;

  --h-box-bg-media: #000000;
  --h-box-txt-media: #000000;
  --h-box-bg-hover-media: #000000;
  --h-box-txt-hover-media: #000000;
  --h-box-bg-media-image: #000000;

  --h-text-red: #000000;
  --h-text-green: #000000;
  --h-text-blue: #000000;
}

.h-text-red {
  color: var(--h-text-red);
}
.h-text-green {
  color: var(--h-text-green);
}
.h-text-blue {
  color: var(--h-text-blue);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--h-content-background);
}

* {
  font-family: var(--h-font-family);
}
