:root {
  --h-header-bg: #6d597a;
  --h-content-bg: #fdf6e8;
  --h-text: #6d597a;

  /* Buttons */
  --h-btn-bg-default: #6d597a;
  --h-btn-bg-hover-default: #355070;
  --h-btn-txt-default: #fdf6e8;
  --h-btn-txt-hover-default: #fdf6e8;

  --h-btn-bg-ghost: #6d597a;
  --h-btn-bg-hover-ghost: #355070;
  --h-btn-txt-ghost: #6d597a;
  --h-btn-txt-hover-ghost: #355070;

  --h-btn-bg-transparent: transparent;
  --h-btn-bg-hover-transparent: #355070;
  --h-btn-txt-transparent: #6d597a;
  --h-btn-txt-hover-transparent: #fdf6e8;

  --h-btn-bg-danger: #e56b6f;
  --h-btn-bg-hover-danger: #355070;
  --h-btn-txt-danger: #fffffc;
  --h-btn-txt-hover-danger: #fdf6e8;

  /* Input */
  --h-input-bg: #fffffc;
  --h-input-bd: #6d597a;
  --h-input-txt: #6d597a;

  /* Boxes */
  --h-box-bg-default: #fffcf7;
  --h-box-txt-default: #6d597a;
  --h-box-bg-info: #eaac8b;
  --h-box-txt-info: #6d597a;

  --h-box-bg-media: #6d597a;
  --h-box-bg-hover-media: #355070;
  --h-box-bg-media-image: #355070;
  --h-box-txt-media: #fdf6e8;
  --h-box-txt-hover-media: #fdf6e8;

  --h-text-red: red;
  --h-text-blue: blue;
  --h-text-green: green;
}

.h-text-red {
  color: var(--h-text-red);
}
.h-text-blue {
  color: var(--h-text-blue);
}
.h-text-green {
  color: var(--h-text-green);
}

body {
  color: var(--h-text);
  width: 100vw;
  height: 100vh;
}
