<div
  ...attributes
  {{did-insert this.initialize}}
>
  <div class='flex flex-col'>
  {{#each this.launchers as |launcher|}}
    <a class='no-underline self-center' href={{launcher.url}}>
      <Button
        class='self-center text-2xl mb-2'
        @icon={{launcher.icon}}
        @type='transparent'
        @noShadow={{true}}
      />
    </a>
  {{/each}}
  </div>
</div>